@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}
.container{
  background-image: url('../src/assets/weather.jpg');
  background-position: center;
  background-size: cover;
  height: 100dvh;
  width: 100%;
  color: #fff;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}
.container__top{
  display: flex;
  gap: 0.5rem;
  padding-top: 3rem;
  justify-content: center;
}
.container__top input{
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  flex-basis: calc(30%);
  color: #fff;
  outline: none;
}
::placeholder{
  color: #fff;
}
.container__top button{
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s background;
}
.container__top button:hover{
  background: aqua;
}
.container__middle{
  display: flex;
  align-items: center;
  padding-left: 3rem;
  justify-content: space-between;
}
.container__middle--location h1{
  font-size: 3rem;
}
.container__middle h4{
  margin-right: 3rem;
  transform: rotate(-90deg);
  font-size: 2rem;
}
.container__bottom{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.bottom{
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem 1.5rem;
  gap: 3rem;
  border-radius: 100vw;
}